<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= image_tag('https://cdn.pixabay.com/photo/2017/03/19/20/19/ball-2157465_960_720.png', style: "height: 60px; background-color:dark-black; background:transparent;  box-shadow: 0px;" , class: "navbar-brand" ) %>
    <%= link_to 'Empros' , new_user_session_path , class: "navbar-brand" %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">



        <% if user_signed_in? %>


              <% if current_user.brand? %>

                  <li class="nav-item">
                    <%= link_to "Products", products_path, class: "nav-link" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "Add Product", new_product_path, class: "nav-link" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "Sign Out", destroy_user_session_path, data:{turbo_method: :delete} ,class: "nav-link" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "Edit Profile", edit_user_registration_path, class: "nav-link" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "About Us", home_about_path, class: "nav-link" %>
                  </li>

              <% elsif current_user.client? %>
                  
                    <li class="nav-item">
                      <%= link_to "Products", products_path, class: "nav-link" %>
                    </li>
                    <li class="nav-item">
                    <%= link_to "Order", order_index_path, class: "nav-link" %>
                  </li>
                    <li class="nav-item">
                      <%= link_to "Sign Out", destroy_user_session_path, data:{turbo_method: :delete} ,class: "nav-link" %>
                    </li>
                    <li class="nav-item">
                      <%= link_to "Edit Profile", edit_user_registration_path, class: "nav-link" %>
                    </li>

              <% end %>

        <% else %>

              <li class="nav-item">
                  <%= link_to "Admin", new_admin_user_session_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                  <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                  <%= link_to "Sign In", new_user_session_path, class: "nav-link" %>
              </li>
        <%end %>

          <%#= link_to cart_path(@cart), class:"navbar-item button is-warning" do %>
<!--              <span class="icon is-small">-->
<!--                <i class="fa fa-shopping-cart"></i>-->
<!--              </span>-->
<!--            <span>Cart-->
              <%#= cart_count_over_one %>
<!--                </span>-->
          <%# end %>



      </ul>
<!--      <form class="d-flex" role="search">-->
<!--        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--        <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--      </form>-->
    </div>
  </div>
</nav>